<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>contatos</title>
        <link href="http://allfont.net/allfont.css?fonts=lucida-console" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/font-mfizz-2.4.1/font-mfizz.css">
        <link rel="stylesheet" href="css/estilos.css">
        <script src="js/script.js"></script>
        <script src="js/w3.js"></script>
       
    

</head>
<body>
        <nav>
                <div class="topnav" id="barra-nav">
                        <a href="/" id="home" >Início</a>
                        <a href="/projetos">Projetos</a>
                        <a href="/contatos" class="active">Contatos</a>
                        <a href="javascript:void(0);" class="icon" onclick="fnav()">
                        <i class="fa fa-bars"></i>
                        </a>
                </div>
        </nav>


        <section class="container-contatos">
                <div class="header-contatos">
                        <h1>Como você pode me encontrar</h1>
                        <p>Aqui tem alguns links para emails e algumas redes sociais das quais faço parte</p>
                        <hr class="divisor">

                </div>
                <div class="contatos-links-container">
                        <p class="roda"> <a href="https://www.linkedin.com/in/moisesantunes" target="_blanc" class="linkedin"><i class='fab fa-linkedin-in'></i> - linkedin </a> </p>
                        <p> <a href="https://www.facebook.com/moisesantunes1982" target="_blanc" class="facebook"><i class='fab fa-facebook-f'></i> - facebook </a> </p>
                        <p> <a href="https://twitter.com/mrr_antunes" target="_blanc" class="twitter"><i class='fab fa-twitter'></i> - twitter </a> </p>
                        <p> <a href="https://github.com/moisesantunes" target="_blanc" class="git"><i class='fab fa-github'></i> - github </a> </p>
                        <p> <a href="https://www.freecodecamp.org/moisesantunes" target="_blanc" class="fcc"><i class='fab fa-free-code-camp'></i> - freeCodeCamp </a> </p>
                </div> 
        </section>
        
        <footer>
                <div class="f-sup">
                        <p>mapa do site</p>
                        <a class="link-footer" href="/">inicio</a>
                        <a class="link-footer" href="/projetos">projetos</a>
                        <a class="link-footer" href="/contatos">contatos</a>
                        <a class="link-footer" href="/creditos">créditos</a>
                </div>
                <div class="f-inf">
                        <p>Moisés Antunes</p>
                        <p>Ultima atualização: 16/04/2019 </p>
                        <p>Ultima versão do site: 1.0.0 </p>
                    </div>
        </footer>

</body>
</html>