<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>inicio</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link href="http://allfont.net/allfont.css?fonts=lucida-console" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="css/font-mfizz-2.4.1/font-mfizz.css">
      <link rel="stylesheet" href="css/w3.css">
      <link rel="stylesheet" href="css/estilos.css">
      <link rel="stylesheet" href="css/estilos_media.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css">
  </head>
  <body >
    <main class="banner">
    <nav>
      <div class="topnav" id="barra-nav">
          <a href="/" id="home" class="active">Início</a>
          <a href="/projetos">Projetos</a>
          <a href="/contatos" >Contatos</a>
          <a href="javascript:void(0);" class="icon" onclick="fnav()">
            <i class="fa fa-bars"></i>
          </a>
      </div>
    </nav>

    
    <section class="container-inicio">
      <div class="container-img">
        <img src="imagens/eu.png" alt="eu" srcset="" class="imagem1">
      </div>
      <div class="container-info">
        <h1>Olá, meu nome é Moisés, sou Web Designer!</h1>
        <p>Que bom ver você por aqui! Vem conhecer o meu trabalho!</p>
          <div class="container-link-inicio">
            <a class="" href="/projetos">Meus Projetos</a>
            <a class="" href="#historico">Mais Sobre Mim</a>
          </div>
          <p>Obrigado! E fique a vontade para entrar em contato!</p>
      </div>
    </section>

    <section id="historico" class="slides-info ">
      <div class="slides ">
        <h2>Sites com <i class="chave">estilo</i> </h2>
        <p>
          Aplicações na web devem ser bonitas e ter a aparencia que combine com <i class="atento">seus objetivos</i>. <br>
          Afinal, se um site for atraente, deixará seu conteúdo mais fácil de ser <i class="legal"> consumido</i>.
        </p>
      </div>
      <div class="slides ">
          <h2>Sites que <i class="chave">funcionam bem</i> </h2>
          <p>
            Sites <i class="atento">fáceis de navegar</i> não quer dizer que são “sem graça”, 
            e sim que entregam ao <i class="legal">usuário</i> a informação que ele <i class="legal">quer</i> de modo objetivo e organizado.
          </p>
      </div>
      <div class="slides ">
          <h2>Sites <i class="chave">adaptáveis</i></h2>
          <p>
            Sabia que dá para criar um site pensando em <i class="atento">cada tipo de usuário</i> e em como eles acessam os sites? <br>
            Por isso os clientes devem receber aplicações que serão vistas em varios tipos de dispositivos.
          </p>
      </div>
      <div class="slides">
        <h2>Sites <i class="chave">modernos</i></h2>
        <p>
          Sabia que dependendo da forma que um site for feito ele terá mais ou menos <i class="atento">visibilidade na web</i> ? <br> 
          Sempre há novas tecnologias para serem usadas afim de atender as mais diversas necessidades dos clientes.
        </p>
      </div>
        <div class="slides ">
          <h2>Por que ter um bom site?</h2>
          <p>
            Qualque produto é reconhecido pela sua marca, é sua identidade, e um bom site ajuda a promover essa identidade.
          </p>
        </div>
    </section>
    <section class="cards-container-ext">
      <h2>Serviços oferecidos</h2>
      <div class="cards-container">
        <div class="cards-serv">
          <div class="card-img">
              <img src="imagens/landing.svg" alt="landing pages" >
          </div>
          <h3>Landing Pages</h3>
          <p>Site com uma pagina para atrair clientes</p>
          </div>
        <div class="cards-serv">
          <div class="card-img">
              <img src="imagens/ads.svg" alt="hot sites" >
          </div>
          <h3>Hot Sites</h3>
          <p>Site para apresentar uma promoção e atrair clientes</p>
        </div>
        <div class="cards-serv">
          <div class="card-img">
              <img src="imagens/responsive.svg" alt="sites institucionais" >
          </div>
          <h3>Sites institucionais</h3>
          <p>Site com varias paginas para apresentar a empresa</p>
        </div>
        <div class="cards-serv">
          <div class="card-img">
              <img src="imagens/smart.svg" alt="landing pages" >
          </div>
          <h3>Sites Responsivos</h3>
          <p>Sites para smartphones e tablets que estão sempre com os clientes!</p>
        </div>
        <div class="cards-serv">
          <div class="card-img">
              <img src="imagens/curriculum.svg" alt="landing pages" >
          </div>
          <h3>Sites Portifólio</h3>
          <p>Site para promover a empresa ou profissional autonomo</p>
        </div>

        <div class="cards-serv">
          <div class="card-img">
              <img src="imagens/data.svg" alt="landing pages" >
          </div>
          <h3>Atualização de Sites</h3>
          <p>Aproveite o conteudo e o codigo para criar algo novo e moderno</p>
        </div>
      </div>
  </section>
  
  <section class="anuncio">
    <a href="mailto:tec.m.antunes@gmail.com">
      <h2>ENTRE EM CONTATO</h2>
      <i class="material-icons">mail_outline</i>
    </a>

  </section>
    <footer>
      <div class="f-sup">
        <p>mapa do site</p>
        <a class="link-footer" href="/">inicio</a>
        <a class="link-footer" href="/projetos">projetos</a>
        <a class="link-footer" href="/contatos">contatos</a>
        <a class="link-footer" href="/creditos">créditos</a>
        <a class="link-footer" href="/curriculo">meu cv</a>
      </div>
      <div class="f-inf">
          <p>Moisés Antunes</p>
          <p>Ultima atualização: 26/04/2019 </p>
          <p>Ultima versão do site: 2.0.1 </p>
      </div>
    </footer>
  </main>

  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
  
  
    <script src="js/script.js"></script>
  </body>
</html>