<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pagina não encontrada</title>
        <link href="http://allfont.net/allfont.css?fonts=lucida-console" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="w3.css">
        <link rel="stylesheet" href="font-mfizz-2.4.1/font-mfizz.css">
        <link rel="stylesheet" href="estilos.css">
        <script src="script.js"></script>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
    
</head>
<body>
   Pagina não encontrada, acho melhor voltar para o  <a href="/">inicio</a> !
  
</body>
</html>