<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testador</title>
    <link href="http://allfont.net/allfont.css?fonts=lucida-console" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/font-mfizz-2.4.1/font-mfizz.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/despositivos.css">
    <script src="js/script.js"></script>
    <script src="js/w3.js"></script>
   
</head>
<body >
   
    <div id="nav-ico" class="icon-bar">
            <a id="home" href="/"><i class="fas fa-home"></i></a> 
            <a  href="/projetos"><i class="fas fa-backspace"></i></a> 
            <a id="smartphone" class="icone" onclick="device('smartphone')"><i class="fas fa-mobile-alt"></i></a>
            <a id="tablet" onclick="device('tablet')"><i class="fas fa-tablet-alt"></i></a>  
            <a id="laptop" onclick="device('laptop')"><i class="fas fa-laptop"></i></a>
            <a id="expand" onclick="device('expand')"><i class="fas fa-expand"></i></a> 
          </div>


    <div class="container-smartphone" id="container">
        <div class="smartphone" id="device">
            <div class="content-smartphone" id="content_device">    
                <iframe class="frame-smartphone" id="frame_device" src="/templates/{{conteudo}}/"></iframe>
            </div>
        </div>
    </div>
    
</body>
</html>