*{ box-sizing: border-box;}
body{margin: 0;}
/*barra de navegação comum a quase todas as paginas*/
.topnav {
  width: 90vw;
  margin: 1vh auto;
  background-color: #363f3f;
  overflow: hidden;
  
}
  /* estilo dos elementos dentro da barra de navegação */
.topnav a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
  /* muda a cor dos links no hover */
.topnav a:hover {
  background-color: #f7df1e;
  color: #363f3f;
} 
.active {
  background-color: #4CAF50;
  color: whitesmoke;
  font-style: italic;
}
#home {
  background-color: #e34f26;
  color: whitesmoke;
}
#home:hover {
  color: #363f3f;
  background-color: #f7df1e;
}

/* esconde o menu amburguer  */
.topnav .icon {
  display: none;
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 640px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 2.5vw;
    top: 1vh;
    background-color: #e34f26;
    color: whitesmoke;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav{
    width: 95vw;
  }
 
  .topnav a.icon {
    float: right;
    display: block;
  }
}

  /*****************nav bar do testador******************/ 
.icon-bar {
  background-color: #363f3f;
  overflow: auto;
  width:80vw;
  margin: .8vh auto;
}
.icon-bar a {
  float: left;
  width: calc(80vw / 6);
  text-align: center;
  padding: 1vw;
  transition: all 0.3s ease;
  color: whitesmoke;
  font-size: 1.2em;
}
.icon-bar a:hover {
  background-color: #f7df1e;
}
a.icone{
  color: #5299e0;
}
@media screen and (max-width: 640px) {
  .icon-bar {
    width:90vw;
  }
  .icon-bar a {
    width: calc(90vw / 6);
  }

}

  /*footer  */
  @media screen and (min-width: 360px) {
   footer{
    width: 95vw;
    background-color: #363f3f;
    color: whitesmoke;
    margin: 2vh auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
  }
  .f-sup, .f-inf{
    width: 100%;
    min-height: 25vh;
    padding: 1vw;

  }
  footer a{
    text-decoration: none;
    display: block;
    padding-left: 10px;
  }

  }

  @media screen and (min-width: 640px) {
    footer{
      width: 90vw;
      background-color: #363f3f;
      color: whitesmoke;
      margin: 2vh auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .f-sup, .f-inf{
      width: 50%;
      min-height: 25vh;
      padding: 1vw;
  
    }
    footer a{
      text-decoration: none;
      display: block;
      padding-left: 10px;
    }
    
    

  }

  


  @media screen and (max-width: 500px) {
   
  }