*{ box-sizing: border-box;}
body{margin: 0;}
/*barra de navegação comum a quase todas as paginas*/
.topnav {
  width: 80vw;
  margin: 1vh auto;
  background-color: #363f3f;
  overflow: hidden;
  position:sticky;
  top:0;
}
  /* estilo dos elementos dentro da barra de navegação */
.topnav a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
  /* muda a cor dos links no hover */
.topnav a:hover {
  background-color: #f7df1e;
  color: #363f3f;
} 
.active {
  background-color: #4CAF50;
  color: whitesmoke;
  font-style: italic;
}
#home {
  background-color: #e34f26;
  color: whitesmoke;
}
#home:hover {
  color: #363f3f;
  background-color: #f7df1e;
}

/* esconde o menu amburguer  */
.topnav .icon {
  display: none;
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #5299e0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav{
    width: 95vw;
  }
 
  .topnav a.icon {
    float: right;
    display: block;
  }

}



  /*****************nav bar do testador******************/ 
.icon-bar {
  background-color: #363f3f;
  overflow: auto;
  width:80vw;
  margin: .8vh auto;
}
.icon-bar a {
  float: left;
  width: calc(80vw / 6);
  text-align: center;
  padding: 1vw;
  transition: all 0.3s ease;
  color: whitesmoke;
  font-size: 1.2em;
}
.icon-bar a:hover {
  background-color: #f7df1e;
}
a.icone{
  color: #5299e0;
}
@media screen and (max-width: 600px) {
  .icon-bar {
    width:90vw;
  }
  .icon-bar a {
    width: calc(90vw / 6);
  }

}
/*pagina inicio ************************************/

.container-inicio{
  width: 80vw;
  min-height: 86vh;
  margin: 3vh auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #363f3f;
  box-shadow: 0px 3px 6px silver;
}
.container-img{
  width: 35%;
  padding: 1vw;
  border-radius: 8px;
  min-width: 250px;
}
.imagem1{
  width: 100%;  
}
.container-info{
  width: 65%;
  padding: 1vw;
  text-align: center;
  border-radius: 8px;
  color: #363f3f;
}
.container-info h1{
  font-size: 4.2em;
  margin: 0;
  font-weight: lighter;
  
}
.container-info p{
  font-size: 1.4em;
  
}
.container-info a{
  font-size: 1.4em;
  border:2px solid #5299e0;
  transition: all 0.3s ease;  
  color: #5299e0;
  text-decoration: none;
  padding: 8px;
  margin: 6px;
  
}
.container-info a:hover{
  background-color: #5299e0;
  color: whitesmoke;
  border:2px solid whitesmoke;

}



@media screen and (max-width: 600px) {
  .container-inicio{
    width: 90vw;
    margin: 2vh auto;
    }
    .container-img{
      width: 55%;
      margin: auto;
    }
    .container-info{
      width: 95%; 
      padding: 3vw;   
    }
    .container-main{
      width: 90%;
    }
    .container-info h1{
      font-size: 3em;
      margin: 0;
    }
    .container-info p{
      font-size: 1.1em;
      font-weight: lighter;
    }
    .container-info a{
      font-size: 1.1em;
      font-weight: lighter;
    }
 
}

/*parte dos slides        */

.slides-info{
  width: 80vw;
  height: 96vh;
  margin: 3vh auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #363f3f;
 
  box-shadow: 0px 3px 6px silver;
}

.slides{
  width: 80%;
  text-align: center;
}

.slides h2{
  font-size: 5.2em;
  font-weight: lighter;
}

.slides p{
  font-size: 1.6em;
  font-weight: lighter;
  line-height: 2;
}
.slides .chave{
  color: #e34f26;
  
}
.slides .atento{
  color: #5299e0 ;
}
.slides .legal{
  color: #4CAF50 ;
}

@media screen and (max-width: 600px) {
  .slides-info{
    width: 90vw;
  }
  .slides h2{
    font-size: 3.2em;
  }
  .slides p{
    font-size: 1.2em;
  }
}
/*teste da tab vertical w3schools*/
.skill-tab{
  color: #363f3f;
  display:flex;
	justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto 3vh ;
  height: 95vh;
  box-shadow: 0px 3px 6px silver;
}

.menu-skill {
  width: 25%;
  height: 100%; 
   
}
#defaultOpen{
  display: none;
}
.link-skill {
  width: 100%;
  height: calc(100% / 7);
  display:flex;
	justify-content: center;
  align-items: center;
  padding: 3%;
}

#html-m, #html{background-color: rgba(227, 79, 38, .08) }
#css-m, #css{background-color: rgba(82, 153, 224, .08) }
#js-m, #js{background-color: rgba(247, 223, 30, .08) }
#node-m, #node{background-color: rgba(108, 194, 74, .08) }
#php-m, #mongo{background-color: rgba(136, 146, 190, .08) }
#mongo-m, #php{background-color: rgba(150, 78, 54, .08) }
#mysql-m, #mysql{background-color: rgba(242, 145, 17, .08) }

.ativo-html {
  
  border-bottom: #e34f26 2px solid;
}
.ativo-css{
  
  border-bottom: #5299e0 2px solid;
}
.ativo-js{ 
  
  border-bottom: #f7df1e 2px solid;
}
.ativo-node{
  
  border-bottom: #4CAF50 2px solid;
}
.ativo-mongo{
  border-bottom: #86888a 2px solid;
}

.ativo-php{
  background-color: rgba(136, 146, 190);
  border-bottom: #6e5494 2px solid;
}
.ativo-mysql{
  border-bottom: rgba(242, 145, 17, 1) 2px solid;
}
.link-skill:first-child{
  border-top-left-radius: 0px;
}
.link-skill:last-child{
  border-bottom-left-radius: 0px;
}
.icone{
  font-size: 3.6em;
}
.link-skill span{
  width: 60%;
  padding: 15px;
  font-size: 1.2em
}


.conteudo-skill{/*parte do conteudo*/
  width: 75%;
  height: 100%;
}


/* Style the tab content */
.inf-skill {
 width: 100%;
 height: 100%; 
 padding: 30px;
}
.tab-img-skill{
  width: 100%;
  display:flex;
	justify-content: center;
  align-items: center;
  border: 1px solid blueviolet;
}
.tab-in-img-skill{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.inf-skill .ferramenta{
  color: #363f3f;
  font-size: 10em;
  padding: 25px;
  border: 2px  #363f3f;
  border-style: dashed;
  margin: 20px;
  border-radius: 50%;
}
#um{
  background-color: rgba(54, 63, 63, 0.08);
  color: #363f3f;

}

.inf-skill h2{
  font-size: 3.4em;
  color: #363f3f;
  font-weight: lighter;

}
.inf-skill p{
  font-size: 1.4em;
  color: #363f3f;
  font-weight: lighter;
}
@media screen and (max-width: 600px) {
  .skill-tab{
    width: 90vw;
    margin: 0 auto 3vh ;
    height: 95vh;
    flex-flow: row wrap;
  }
  .menu-skill {
    width: 100%;
    height: 18%; 
    overflow-x: auto;
    display: flex;
    flex-flow: row;
  }
  .conteudo-skill{
    width: 100%;
    height: 82%;
  }
  .link-skill {
    width: 200px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

  .tab-in-img-skill{
    width: 120px;
    height: 120px;
    margin: 10px;
  }
  .link-skill:first-child{border-top-left-radius: 0px;}
  .link-skill:last-child{border-bottom-left-radius: 0px;}
  .link-skill:last-child{border-top-right-radius: 8px;}
  .inf-skill{
    padding: 15px
  }
  .inf-skill h2{
    font-size: 2em;
  
  }
  .inf-skill p{
    font-size: 1em;
    color: #363f3f;
    font-weight: lighter;
}
}

/*pagina inicio daqui pra cima ************************************/

/*pagina de projetos*/
.proj-header{
  width: 80vw;
  margin:  2vh auto;
  padding: 1vw;
}
.proj-header h1{
  font-size: 3.4em;
  color: #363f3f;
  font-weight: lighter;
}
.proj-header p{
  font-size: 1.2em;
  color: #363f3f;
  font-weight: lighter;

}
.divisor{
  border: 4px solid #4CAF50;
}
  
.proj-section{
  width: 80vw;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    

}
.proj-card{
  width: 48%;
  margin: 1%;
  min-height: 30vh;
  position: relative;
  box-shadow: 0px 3px 6px silver;
}
 
.proj-card h3{
  margin: 8px;
  border-bottom: #e34f26 2px solid
 
}
.proj-card p{
  margin: 6px;
  padding-bottom: 40px;
 
}

.proj-card .absolute{
  position: absolute;
  bottom: 10px;
  font-size: 1.2em;
}

.proj-card .absolute i{
 margin-left: 5px;
}
@media screen and (max-width: 500px) {

  .proj-header h1{
    font-size: 2.8em;
  }
  .proj-header p{
    font-size: 1.1em;
  }
  
.proj-section{
  width: 90vw;
}
.proj-card{
  width: 100%; 
}
   
   
}

/*pagina de contatos*/


.container-contatos{
  width: 80vw;
  margin: 2vh auto 1vh;
  color: #363f3f;

}
.header-contatos{
  padding: 10px;
}
.header-contatos h1{
  font-size: 3.4em;
  color: #363f3f;
  font-weight: lighter;
}
.header-contatos p{
  font-size: 1.4em;
  color: #363f3f;
  font-weight: lighter;

}

.contatos-links-container{
  padding: 10px 30px;
}
.contatos-links-container a{
  text-decoration: none;
  font-size: 2.2em;
  font-weight: lighter;
}
.linkedin, .facebook, .twitter, .git, .fcc{
  width :3vw;
  transition: all 0.3s ease;  
}

.linkedin:hover{
  color: #86888a;
  margin-left: 10px;
}


.facebook:hover{
  color: #3b5998;
  margin-left: 10px;
}
.twitter:hover{
  color: #1da1f2;
  margin-left: 10px;
}
.git:hover{
  color: #6e5494;
  margin-left: 10px;
}
.fcc:hover{
  color: #006400;
  margin-left: 10px;
}
  /*footer  */
  footer{
    width: 80vw;
    background-color: #363f3f;
    color: whitesmoke;
    margin: 2vh auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .f-sup, .f-inf{
    width: 50%;
    height: 25vh;
    padding: 1vw;

  }
  footer a{
    text-decoration: none;
    display: block;
    padding-left: 10px;
  }
  @media screen and (max-width: 600px) {
    footer{
      width: 90vw;
    }
    .f-sup, .f-inf{
      width: 100%;
      height: 30vh;
  
    }
   
  }

  @media screen and (max-width: 500px) {
   
  }